
.flash{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.flash.success{
    border: 1px solid darkgreen;
    color: darkgreen;
    background: lightgreen;
}
.flash.error{
    border: 1px solid #900;
    color: 1px solid #900;
    background: #ffe0e0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
